



.upload-section > p{
  color:#343337;
  margin-top: .5rem;
}

.upload-area{
  display:flex;
  height:14rem;
  justify-content:center;
  align-items:center;
  border: 1px dashed var(--primary-color);
  margin-top:1rem;
  background-color:var(--bg-color);
  border-radius:4px;
}

.upload-btn{
  padding:.8rem;
  font-size:1.4rem;
  border: 1px solid #6CAA7D;
  display:inline-block;
  border-radius:4px;
}

