.app{
  height:100vh;
}

.page-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}

.container{
  display:flex;
  flex-direction:column;
  width:55%;
  min-height:600px;
 
}
.top-div{
  height:4rem;
  border: 1px solid var(--border-grey);
  border-bottom:none;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

._wysiwyg-div{
  flex:1;
  border: 1px solid var(--border-grey);
  border-bottom:none;

}
.count-div{
  height:2.7rem;
  background-color:#fff;
   border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border: 1px solid var(--border-grey);
  font-size:1rem;
 padding-top:.8rem;
  text-align:right;
}

.input-wrapper{
  position:relative;
  display:inline-block;
  margin: 1rem 0rem;
}

.input-wrapper:hover{
  cursor:pointer;
}


.topic-input{
    border: transparent;
    height: 4.5rem;
    width: 45rem;
    background: transparent;
    font-size: 2.5rem;
    padding-left:1rem;
}
.topic-input:focus{
    border: transparent;
}

input[type="text"]:focus{
  outline:none;

}


.input + span{
  position: absolute;
  top: 50%;
  left: 2.8%;
  transform: translate(0%, -50%);
  opacity:1;
  visibility:visible;
  transition: all .1s linear;
   font-weight:bold;
   font-size: 1.85rem;
   
}


.topic-input:focus + span{
  opacity:0;
  visibility:hidden
  
}


.input-text{
   font-weight:bold;

}


.upload-section {
  width:65.9rem;
  padding: 1.8rem 2.5rem;
  background:#fff;
  font-size:1.6rem;
}

.button.close_btn{
  background:transparent;
  margin-top:0px;
  margin-bottom:0px;
  font-size:1.4rem;
}

.upload-section > h4{
  display:flex;
  align-items:center;
  justify-content: space-between;
}



.toggle{
    display: inline-flex;
    align-items:center;
    width: 25px;
    height: 14px;
    background: #959695;
    border-radius: 8px;
    margin-left: auto;
}


.toggle::after{
    content:' ';
    width:10px;
    height:10px;
    border-radius:50%;
    background:#fff;
    transform:translatex(0)
}

.toggle-check:checked + .toggle{
  background: var(--primary-color);
 
}

.toggle-check:checked + .toggle::after{
  transform:translatex(12px);
 
}

.disable-div{
  display:flex; 
  margin:1rem 0rem;
}


.editor-class{
  padding-left:1.4rem;
  padding-right:1.4rem;
  max-height: 400px;
}



.ul-embed{
  background-color:#fff;
  padding-left:0px;
  width:32rem;
  padding-top:1rem;
  padding-bottom:1rem;
  display:inline-block;
  margin:0px;
}

.ul-embed svg{
  width:20px;
  margin-right:1rem;
}

.ul-embed li{
  display: flex;
  height:4.8rem;
  width:100%;
  align-items:center;
  font-size: 1.4rem;
  padding:1rem;
  
}
.ul-embed li:hover{
 
  background: var(--border-grey);

}

.ul-embed li:first-child{
  font-size:1.2rem;
  font-weight:lighter;
  height: 2.8rem;

}

.ul-embed li:first-child:hover{
  background:#fff;

}

.ul-embed li span{
  flex:1;
  text-align: left;
}
.ul-embed small{
  font-size: 1.2rem;
  font-weight:lighter;
  color:var(--brand-black);
  width: 100%;
}




._editor-container{
  position:relative;
  /* max-height: 500px;
  overflow: scroll; */

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}



.mock_loader {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: App-logo-spin infinite 0.8s linear;
  color: green;
  font-size: 1rem;
}